@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Hilfe";
}
<div class="container">
	<h5>How-To – für dein Grünpotenzial in Xhain:</h5>
	<ul>
		<li>
			Read - set - go: Registriere dich mit dem Username, der sichtbar sein soll
		</li>
		<li>
			Es kann losgehen: Login
		</li>
		<li>
			Auf Karte klicken deine Straße/Fläche suchen:
		</li>
		<li>
			Du siehst Entsiegelungspotenzial:
			such deine Straße auf der Karte über den Standort rechts
			<img src="~/screen_location.png" /><br />
			oder das Suchfenster links.
			<img src="~/screen_search.png" />
		</li>
		<li>
			Eigenes Maßnahmenprojekt anlegen:
			Erste Entscheidung: Handelt es sich um eine punktuelle Maßnahme, um einen Straßenabschnitt oder eine Fläche? Oben links sind dafür die Werkzeuge:
			<img src="~/screen_marker.png" />
		</li>
		<li>
			z. B. das mittlere für Linie ziehen an einem Straßenabschnitt.
			1x oben links anklicken  Klick am Straßenabschnitt  ziehen und mit Doppelklick beenden  oben links auf Speichern klicken
			Passende Maßnahme auswählen und ggf. Straße/Hausnummer korrigieren  Speichern

		</li>
		<li>
			Auf Ansehen klicken  ggf. noch mehr Erklärung liefen und Text speichern klicken.
		</li>
		<li>
			Am Balken links runterscrollen und ggf. unten ein Foto anhängen.
			Auf Upload klicken und warten bis das Bild hochgeladen wurde, fertig.
			Dein Projekt wird demnächst von den Admins freigeschaltet.<br />
			Hier kannst deine Vorschläge sehen:<br />
			<img src="~/screen_profil.png" />
		</li>
	</ul>



</div>