
@{
	ViewData["Title"] = "Impressum";
}
<div class="container">
	<h2>Impressum</h2>

	<p>Angaben gemäß §5 TMG:</p>

	<p>Dies ist der Internetauftritt der</p>

	<p>
		NaturFreunde Deutschlands e.V.<br />
		Verband für Umweltschutz, sanften Tourismus, Sport und Kultur
	</p>

	<p>Landesverband Berlin</p>

	<p>(Kurzbezeichnung: NaturFreunde Berlin e.V.)</p>

	<p>
		Paretzer Str. 7, 10713 Berlin<br />
		<a href="mailto:info@naturfreunde-berlin.de">info@naturfreunde-berlin.de</a><br />
		<a href="http://www.naturfreunde-berlin.de">www.naturfreunde-berlin.de</a>
	</p>

	<p></p>

	<p>Vereinsregister beim Amtsgericht Berlin-Charlottenburg Nr.: VR 672 Nz</p>

	<p></p>
</div>