@{
    ViewData["Title"] = "";
}

<div class="text-center">
	<p>

	</p>
	<div>

		<img src="berlinkarte.jpg" usemap="#image-map">

		<map name="image-map">
			<area alt="XHain" title="XHain" href="/Home/Map?Bezirk=FriedrichshainKreuzberg" coords="435,408,465,405,473,405,488,417,506,405,499,397,505,375,495,364,517,356,524,352,531,363,538,359,544,375,569,379,572,402,561,427,573,431,594,450,580,454,555,437,539,431,520,445,494,435,500,454,479,448,472,458,458,461,456,455,445,457,429,457,433,444,423,437,424,418" shape="poly">
			<area alt="Tempelhof-Schöneberg" title="Tempelhof-Schöneberg" href="/Home/Map?Bezirk=TempelhofSchöneberg" coords="383,411,422,426,421,436,431,441,429,459,475,461,475,471,483,471,489,501,495,500,495,514,500,518,495,523,472,599,474,604,465,609,468,619,479,620,491,626,490,633,506,683,495,710,450,705,447,682,425,680,424,665,386,636,388,619,413,603,427,586,402,526,394,523,378,498,365,504,351,496,352,476,377,475,379,427" shape="poly">
			<area alt="Steglitz-Zehlendorf" title="Steglitz-Zehlendorf" href="/Home/Map?Bezirk=SteglitzZehlendorf" coords="169,492,180,490,184,496,191,492,216,494,229,491,260,500,277,500,310,490,332,500,353,500,364,506,376,501,397,523,406,528,426,587,416,603,385,621,385,627,340,653,318,617,287,648,270,640,254,640,249,607,221,607,182,619,129,647,126,660,142,659,146,667,107,662,85,682,96,660,82,661,59,644,54,631,35,631,29,610,44,597,50,596,65,585,63,576,80,560,105,556,130,538,163,512" shape="poly">
			<area alt="Lichtenberg" title="Lichtenberg" href="/Home/Map?Bezirk=Lichtenberg" coords="610,203,615,212,637,212,680,226,702,256,665,272,643,300,652,337,635,344,633,394,659,395,658,413,660,423,670,435,682,484,660,485,649,497,632,480,617,483,606,467,596,454,563,425,570,401,575,387,561,372,544,363,559,346,562,330,558,315,578,316,584,304,600,307,597,290,582,276,589,264,581,256,578,231" shape="poly">
			<area alt="Pankow" title="Pankow" href="/Home/Map?Bezirk=Pankow" coords="420,135,434,124,440,112,453,107,461,80,480,95,488,99,499,110,514,109,514,93,523,85,535,78,551,84,571,69,555,63,537,48,549,34,559,40,569,22,578,19,572,41,592,33,585,65,625,92,635,85,637,94,631,125,617,135,612,149,604,182,614,201,584,226,576,249,583,261,591,266,585,274,587,280,600,294,599,310,585,305,578,317,561,315,562,331,561,344,548,362,569,377,549,379,537,360,529,362,525,353,517,356,496,365,476,355,460,281,450,265,437,256,393,217,409,214,428,190,435,165" shape="poly">
		</map>
	</div>

</div>
