@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persönliche Daten";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Dein Konto enthält persönliche Daten. Diese Seite erlaubt dir, deine Daten herunterzuladen oder zu löschen.</p>
        <p>
            <strong>Das Löschen der Daten ist unwiderruflich.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Löschen</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
