@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Dein Passwort wurde zurückgesetzt. Bitte <a asp-page="./Login">klicke hier um dich einzuloggen</a>.
</p>
